<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html
    define a new fragment in search.html code just written
    include the fragment here
    NOTE for the fragment to work, the data passed into the view via model.addAttribute()
    must have the same key in both places
    -->
    <table th:replace="search :: results"></table>
    <!--
    <table th:fragment="results" class="job-listing" th:each="job : ${jobs}">
        <tr th:each="field : ${job}">
            <td th:text="${#strings.capitalizeWords(field.key)}"></td>
            <td th:text="${field.value}"></td>
        </tr>
    </table>
    -->
</div>

</body>
</html>